.navbar{
    background-color: #fff;
    height: 5rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.navbar img{
    width: 4.2rem;
}

.navbar ul{
    display: flex;
    
}

.navbar ul li{
    list-style: none;
    margin-right: 2rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    transition: all ease 0.2s;
}

.navbar ul li a:visited{
    color: #000;
}

.navbar ul li a:hover{
    color: #353b48;
}

